h1, h2, h3, h4, h5{
    background-color:rgba(9, 3, 75, 0.926);
    font-style: italic 
}

body {
    background-color: rgb(5, 75, 144);
    background-size: cover;
    margin: 10px;
    padding: 10px;
}

h1 {
   padding: 25px;
   text-align: center;
   border-radius: 50%;   
}

nav {
    text-align: center;
    font-size: 28px;
}

body {
    color: rgb(229, 229, 250);
}


h2 {
    text-align:center;
    font-size: 40px;
}

table, th, td {
    border-block: 10px;
    border:3px solid;
    width: 500px;
    height: 40px;
    text-align: center;
    font-size: 20;
}

input {
    width: 300px;
    height: 30px;
    font-size: 20px; 
}

h3 {
    font-size: 35px;
}

h4{
    font-size: 25px;
}

.video {
    height: 300px;
    width: 366px;
    text-align: center;
}

ul {
    font-size: 20px;
}

a:link {
    color: rgb(243, 253, 243);
}

a:visited {
    color:rgb(244, 242, 249);
}

p {
    font-size: 20px;
}

.calendar {
    width: 75%;
}

.card {
    background-color: rgb(5, 75, 144);
    color: rgb(229, 229, 250);
}

.fish {
    height: 300px;
    width: auto;
}

.accordion-body {
    background-color: rgb(5, 75, 144);
    background-size: cover;
    margin: 10px;
    padding: 10px;
    color: rgb(229, 229, 250);
    font-size: 20px;
}



