h1, h2, h3, h4, h5{
    background-color:rgb(7, 7, 7);
    font-style: italic 
}

body {
    background-color:rgb(121, 176, 249);
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
     }

h1 {
   padding: 25px;
   text-align: center;
   border-radius: 50%;   
}

nav {
    text-align: center;
    font-size: 28px;
}

body {
    color: rgb(98, 247, 5);
}

.crappie {
    border-radius: 50%; 
    overflow: hidden;
    height: 300px;
}

h2 {
    height: 40px;
    text-align:center;
    font-size: 40px;
}

table, th, td {
    border-block: 10px;
    border:3px solid;
    width: 500px;
    height: 40px;
    text-align: center;
}

input {
    width: 300px;
    height: 30px;
    font-size: 15px; 
}

h3 {
    font-size: 35px;
}

h4{
    font-size: 25px;
}

